# --------------------------
# App Configuration
# --------------------------
APP_PORT=8282

# --------------------------
# PostgreSQL Neon (modern split config)
# --------------------------
DB_HOST=ep-dry-queen-a8lplx8l-pooler.eastus2.azure.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Z9PeyVc5Mspa


#spring.datasource.url=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=require&channel_binding=require

# --------------------------
# PostgreSQL Local
# - ------------------------
#jdbc:postgresql://localhost:5432/sb-ecommerce
#spring.datasource.url=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sb-ecommerce
DB_USER=postgres
DB_PASSWORD=belvi

# --------------------------
# MinIO LOCAL
# --------------------------
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=inventory

# --------------------------
# FRONTEND URL
# --------------------------
FRONTEND_URL=http://localhost:3000

# --------------------------
# EMAIL SETTINGS
# --------------------------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pouadjeubelvi@gmail.com
MAIL_PASSWORD=ksfcxgvoqlmhmogf

# --------------------------
# GITHUB OAuth2 CONFIGURATION SETTINGS Local
# --------------------------
GITHUB_CLIENT_ID=Ov23lipO8qyx3u42kDlY
GITHUB_CLIENT_SECRET=3e587ad4b1a7f99d79c2286fd958827ccffd26b2
GITHUB_CLIENT_SCOPE=read:user,user:email

# --------------------------
# GOOGLE OAuth2 CONFIGURATION SETTINGS
# --------------------------
GOOGLE_CLIENT_ID=352019131331-o9bmeieet9fo7ouurreojmjq5pg3vvh5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CLIENT_SCOPE=openid,profile,email


# --------------------------
# SPRING SECURITY
# --------------------------
JWT_SECRET_KEY=bXlWZXJ5U2VjcmV0S2V5Rm9ySlRUb2tlbkdlbmVyYXRpb25UaGF0SXNMb25nRW5vdWdoRm9ySFMyNTZBbGdvcml0aG1BbmRTZWN1cmVFbm91Z2hGb3JQcm9kdWN0aW9uMTIzNDU2Nzg5

# --------------------------
# DEFAULT PASSWORD
# --------------------------
DEFAULT_USER_PASSWORD=password

# --------------------------
# FRONTEND URL
# --------------------------
FRONTEND_URL=http://localhost:3000
#FRONTEND_URL=http://localhost:3000,http://localhost:4200,https://production-domain.com




# ------------------------------------------------
# GITHUB OAuth2 CONFIGURATION SETTINGS PRODUCTION
# ------------------------------------------------
GITHUB_CLIENT_ID=Ov23lieOVp30s4a24zyT
GITHUB_CLIENT_SECRET=baf95db3ee01c0af82f59f100a8eb4f8e8f69718
GITHUB_CLIENT_SCOPE=read:user,user:email





