# --------------------------
# App Configuration
# --------------------------
APP_PORT=8282

# --------------------------
# PostgreSQL Neon (modern split config)
# --------------------------
DB_HOST=ep-dry-queen-a8lplx8l-pooler.eastus2.azure.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Z9PeyVc5Mspa

# --------------------------
# MinIO LOCAL
# --------------------------
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=inventory



