# --------------------------
# App Configuration
# --------------------------
APP_PORT=8282

# --------------------------
# PostgreSQL Neon (modern split config)
# --------------------------
DB_HOST=ep-dry-queen-a8lplx8l-pooler.eastus2.azure.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_Z9PeyVc5Mspa

# --------------------------
# MinIO LOCAL
# --------------------------
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET_NAME=inventory

# --------------------------
# FRONTEND URL
# --------------------------
FRONTEND_URL=http://localhost:3000

# --------------------------
# EMAIL SETTINGS
# --------------------------
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=pouadjeubelvi@gmail.com
MAIL_PASSWORD=ksfcxgvoqlmhmogf


# --------------------------
# SPRING SECURITY
# --------------------------
JWT_SECRET_KEY=bXlWZXJ5U2VjcmV0S2V5Rm9ySlRUb2tlbkdlbmVyYXRpb25UaGF0SXNMb25nRW5vdWdoRm9ySFMyNTZBbGdvcml0aG1BbmRTZWN1cmVFbm91Z2hGb3JQcm9kdWN0aW9uMTIzNDU2Nzg5





